@import "tailwindcss";


.image-bg{
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/fb5cb900-0cb6-4728-beb5-579b9af98fdd/web/IN-en-20250127-TRIFECTA-perspective_cf66f5a3-d894-4185-9106-5f45502fc387_large.jpg");
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    background-size: cover;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
.scrollbar-hide {
-ms-overflow-style: none;
scrollbar-width: none;
}